@import "tailwindcss";

:root {
  --background: #121815;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121815;
    --foreground: #ededed;
  }
}

html {
  scrollbar-width: thin;
  scrollbar-color: #24352c #121815;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121815;
}

::-webkit-scrollbar-thumb {
  background: #24352c;
  border-radius: 999px;
}
